@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: #eaded2f7;
}

/* headings and logo for Lytham History */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
    background-color: antiquewhite;
}

#logo {
    float: left;
    font-size: 300%;
}

/* navigation links for Lytham History */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float:right;
    list-style-type: none;
    margin-right: 15px;
}

#menu a {
    text-decoration: none;
    color:inherit;
}

#menu a:hover{
    border-bottom: 2px solid #3a3a3a;
}

.active {
    border-bottom: 2px solid #3a3a3a;
}

#lytham-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* lytham image and cover text for Lytham History */

#cover-text, #cover-text h2 {
    color: rgb(36, 35, 35);
}

#lytham-image{
    height: 1000px;
    width: 100%;
    background: url('../images/waste-management-in-lytham-st-annes.webp') no-repeat center center;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 750px;
    height: 350px;

    padding-top: 30px;
    padding-left: 10px;

    background-color: rgba(255, 255, 255, 0.6);

    top: 80px;
    left: 150px;

    position: absolute;
}


#circle-container {
    width: 300px;
    height: 300px;
    padding-bottom: 1px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/bilaal_arshad.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* footer */

footer {
    height: 150px
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: royalblue;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #010577;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a royal blue color */
input[type=submit]:hover {
    background-color: #4169e1;
}

/* Add a background color and some padding around the contact form */
.container {
    border-radius: 5px;
    background-color: #bab3cd;
    padding: 20px;
}

.cont {
    display:block;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.navbar {
    justify-content: space-between;
}

.col-50 {
    width: 50%;
}

.col-100 {
    width: 100%;
}

.img-history {
    width: 100%;
    height: auto;
}

#history-image {
    width: 100%;
    background: url("../images/waste-management-in-lytham-st-annes.webp") no-repeat center center;
    background-size: cover;
}

.history-paragraph {
    color: #040202;
}

.history-bg{
    margin-top: 1rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 650px) {
    .row{
        flex-direction:column;
    }
    .col-50,
    .col-100 {
        width: 100%;
    }

    #logo {
        font-size: 200%;
        width: 100%;
    }

    #menu a {
        font-size: 80%;
    }
}