@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo for Lytham History */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
    background-color: antiquewhite;
}

#logo {
    float: left;
    font-size: 300%;
}

/* navigation links for Lytham History */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float:right;
    list-style-type: none;
    margin-right: 15px;
}

#menu a {
    text-decoration: none;
    color:inherit;
}

#menu a:hover{
    border-bottom: 2px solid #3a3a3a;
}

.active {
    border-bottom: 2px solid #3a3a3a;
}

/* lytham image and cover text for Lytham History */

#cover-text, #cover-text h2 {
    color: #fff;
}

#lytham-image{
    height: 1000px;
    width: 100%;
    background: url('../images/waste-management-in-lytham-st-annes.webp') no-repeat center center;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 500px;
    height: 450px;

    padding-top: 30px;
    padding-left: 10px;

    background-color: rgba(255, 255, 255, 0.6);

    top: 80px;
    left: 150px;

    position: absolute;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 5px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/bilaal_arshad.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}